cronjob:
  image: "azalax/discordtechnewsnotifier"
  tag: "1.158.0"
  schedule: "59 */1 * * *"
  mountPath: "/home/go/app"
  nodeName: "worker01"
  restartPolicy: "OnFailure"
  debug: false

discordWebhook:
  secretName: "discord-webhook"
  secretKey: "webhook"
  url: ""
volume:
  hostPath: "/mnt/data"
  capacity: 2Gi
